body {
  font-family: 'Arial', sans-serif; 
  margin: 0;
  padding: 30px;
}





.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0; 
}

.nav-links li a {
  text-decoration: none;
  color: #333; 
}

.component-container {
  margin-top: 20px;
}
