
.room-details-container {
  border: 2px solid #ccc; 
  padding: 20px; 
  width: 50%; 
  margin: 0 auto; 
  text-align: center; 
}

.room-details-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-details-form label {
  margin-bottom: 10px;
}

.room-details-form input {
  margin-bottom: 10px;
  padding: 5px;
}

.room-details-form button {
  margin-top: 10px;
  padding: 8px 16px;
}

.room-details-details {
  margin-top: 20px;
  text-align: left; 
}
